  <nav class="navbar">
      <a href="/instructor-dashboard" class="logo">My LMS</a>
      <ul class="nav-links">
        <li class="cyan"><a href="/course-management" >Course Creation</a></li>
        <li class="cyan"><a routerLink="/student-monitoring">Student Monitoring</a></li>
        <li class="cyan"><a routerLink="/grading">Grading</a></li>
        <li class="red"><a href="/login">Logout</a></li>
      </ul>
  </nav>
  <div class="welcome-container">
    <h1 class="animated-text">
      Welcome,
      <span *ngIf="userEmail; else loading">{{ userEmail }}</span>!
    </h1>
    <ng-template #loading>
      <span>Loading...</span>
    </ng-template>
  </div>
